@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /*Establece variables de CSS personalizadas que contienen valores específicos para reutilizar en todo el documento.*/
    --azul-marinno: #1F3B4D;
    --cian: #17BEBB;
    --gris-claro: #F0F0F0;
    --blanco-puro: #FFFFFF;
    --gris-oscuro: #515151;
    --font-family: 'Roboto', sans-serif;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

/*Glogal*/
* {
    /*Establece un estilo para todos los elementos HTML.*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*Establece un estilo para el cuerpo del documento.*/
    font-family: var(--font-family);
    font-size: var(--md);
    background-color: var(--gris-claro);
    color: var(--azul-marinno);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin-top: 10px;
}

img {
    /*Establece un estilo para las imágenes.*/
    max-width: 100%;
    height: auto;
}

a {
    /*Establece un estilo para los enlaces.*/
    text-decoration: none;
    color: var(--azul-marinno);
}

/*Header*/
header {
    /*Establece un estilo para el encabezado del documento.*/
    background-color: var(--azul-marinno);
    color: var(--blanco-puro);
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /*Establece un estilo para el encabezado del documento cuando se desplaza fijandolo al hacer scroll.*/
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: var(--gris-oscuro) 0px 2px 10px;
}

header img {
    /*Establece un estilo para las imágenes dentro del encabezado.*/
    max-height: 60px;
    margin-left: 25px;
}

header nav {
    /*Establece un estilo para la navegación dentro del encabezado.*/
    margin-right: 25px;

}

.header_nav .header_list {
    /*Establece un estilo para las listas dentro de la navegación del encabezado.*/
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav a {
    /*Establece un estilo para los elementos de la lista de navegación.*/
    color: var(--blanco-puro);
    padding: 10px;
    font-size: var(--sm);
}

header .item:hover {
    /*Establece un estilo para los elementos de la lista de navegación cuando el cursor está sobre ellos.*/
    background-color: var(--cian);
    border-radius: 5px;
    box-shadow: var(--gris-claro) 2px 2px 4px;
}

.header_auth {
    /*Establece un estilo para la autenticación dentro del encabezado.*/
    display: flex;
    margin-right: 20px;
    gap: 1rem;
}

.header_auth a {
    /*Establece un estilo para la autenticación dentro del encabezado.*/
    color: var(--blanco-puro);
    padding: 5px 10px;
    margin-left: 10px;
    display: flex;
    gap: 1rem;
}

.header_auth .sign_in {
    /*Establece un estilo para la autenticación dentro del encabezado.*/
    background-color: var(--cian);
    border-radius: 5px;
}

.header_auth .sign_in:hover {
    /*Establece un estilo para la autenticación dentro del encabezado cuando el cursor está sobre ellos.*/
    background-color: var(--gris-oscuro);
    border-radius: 5px;
    box-shadow: var(--gris-claro) 2px 2px 4px;
}

.header_auth .registre {
    /*Establece un estilo para la autenticación dentro del encabezado.*/
    background-color: var(--blanco-puro);
    color: var(--azul-marinno);
    border-radius: 5px;
}

.header_auth .registre:hover {
    /*Establece un estilo para la autenticación dentro del encabezado cuando el cursor está sobre ellos.*/
    background-color: var(--gris-oscuro);
    border-radius: 5px;
    color: var(--blanco-puro);
    box-shadow: var(--gris-claro) 2px 2px 4px;
}

/*Main*/
main {
    /*Establece un estilo para el contenido principal del documento.*/
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login {
    /*Establece un estilo para el formulario de inicio de sesión.*/
    width: 10%;
    height: 50vh;
    display: grid;
    place-items: center;
}

.form-container {
    /*Establece un estilo para el contenedor del formulario.*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--blanco-puro);
    flex-direction: column;
    gap: 0.1rem;
}

.form-container .container {
    /*Establece un estilo para el contenedor del formulario.*/
    display: flex;
    flex-direction: column;
}

h2 {
    /*Establece un estilo para el título del logo.*/
    font-size: var(--lg);
    color: var(--azul-marinno);
    margin-bottom: 1.5rem;
    justify-self: center;
}

.form {
    /*Establece un estilo para el formulario.*/
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form a {
    color: var(--azul-marinno);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 54px;
}

label {
    /*Establece un estilo para las etiquetas del formulario.*/
    font-family: var(--azul-marinno);
    font-size: 0.9rem;
    margin-bottom: 1px;
    display: block;
}

.input {
    /*Establece un estilo para los campos de entrada del formulario.*/
    background-color: var(--gris-claro);
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 16px;
}

.primary-button {
    background-color: var(--cian);
    border-radius: 8px;
    border: none;
    color: var(--blanco-puro);
    width: 100%;
    font-size: var(--md);
    font-weight: bold;
    height: 35px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.secondary-button {
    background-color: var(--gris-claro);
    border-radius: 8px;
    border: 1px solid var(--gris-oscuro);
    color: var(--azul-marinno);
    width: 100%;
    font-size: var(--md);
    font-weight: bold;
    height: 35px;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.login-button {
    margin-top: 20px;
    margin-bottom: 10px;
}

input:focus {
    /*Establece un estilo para los campos de entrada del formulario cuando están enfocados.*/
    border-color: 1px solid var(--cian);
}

.login-button:hover {
    background-color: var(--gris-oscuro);
}

.secondary-button:hover {
    background-color: var(--gris-oscuro);
    color: var(--blanco-puro);
}

